<html>
    <body>
        <h2>HTML FORM</h2>

        <form action="/submit"method='post'>
            <label for="science">Science</label><br>
            <input type="text"id='science'name='science'value='0'><br>
            <label for='maths'>maths</label><br>
            <input type="text"id='maths'name='maths'value='0'><br>
            <label for="physics">physics</label><br>
            <input type="text"id='physics'name='physics'value=0><br>
            <input type="submit"value='submit'>
        </form>
    </body>
</html>